name: .NET 8 CI/CD

on:
  push:
    branches: [ master ]   # main → master ga o‘zgartirildi
  pull_request:
    branches: [ master ]   # main → master ga o‘zgartirildi

jobs:
  build-deploy:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Setup .NET 8 SDK
        uses: actions/setup-dotnet@v3
        with:
          dotnet-version: 8.0.x

      - name: Restore dependencies
        run: dotnet restore

      - name: Build project
        run: dotnet build --configuration Release

      - name: Publish project
        run: dotnet publish -c Release -o ./publish
